<template name="chat">
  <li class= "well well-sm">
    <span class="text"><strong>{{username}}</strong>- <small>{{formatDate createdAt}} </small> - {{text}}  </span>
  </li>
</template>

<template name= "showUser">
  <li class= "well well-sm">
      <span> {{username}}</span>
  </li>
</template>

<template name= "userTyping">
   <span class= "alert alert-info"> {{name}} is Typing.. </span>
</template>


<template name="newRoom">
  <div>
	     <input id="roomName" type="text" name="text" />
	     <ul>
		{{#each chatUsers}}
				<li>
					<input name ="check_user" type="checkbox" checked="{{checked}}" class="toggle-checked" value="{{username}}" />
					<span class="particepent">{{username}}</span>
	      		</li>
		{{/each}}
	     </ul>
	   	 <input id="submit" value="Submit Form" type="submit"/>
  </div>
</template>

<template name="Rooms">
	<ul>
	{{#each Rooms}}
	     <li>
		     <form class="roomId">
			 <input  value="{{roomName}}" type="submit"/>
			 <input name="room_id" type="hidden" value="{{_id}}"/>
		     </form>
	  
		 </li>
		{{/each}}    
 	</ul>

</template>